
$orange: #FFA200;
$turquoise: #00FFFF; 
$dark-turquoise1: #24485F;
$dark-turquoise2: #0C3149; 
$dark-turquoise3: #032236;
$blanc: #FFFFFF;


@mixin jumbotron {
	font-family: 'Poiret One', cursive;
	color: $blanc;
	text-align: center;
	text-shadow: 1px 1px white, -1px -1px #000;

}

@mixin chemin {

	border-right-style: dotted;
	border-bottom-style: dotted;
	border-width: 3px;
	border-color: $orange;
}

@mixin see-more {
	display: inline-block;
	width: 100px;
	height: 100px;
	position: absolute;
}

@mixin text {
	border: 3px dotted $orange;
	color: $blanc;
	padding: 20px;
	display: inline-block;
	background-color: $dark-turquoise1;
}

@mixin title {
	border-right-width: 5px;
border-right-style: solid;
border-right-color: $orange;
margin: 0;
}

@mixin gallery {
	display: inline-block;
	background-color: rgba(0, 255, 255, .5);
	width: 60%;
}

@mixin box {
	display: block;
	border-style: dashed;
	border-color: #FFA200;
	margin-top: -620px;
	margin-bottom: 100px;
	padding-top: 350px;
	padding-right: 200px;
}


/****************************/

body {
	background-color: $dark-turquoise1;
		position: relative;

}

/*********NAVBAR**********************************************/


.nav.nav-tabs {
	position: fixed;
	top: 0;
	left: 5%;
	background-color: $dark-turquoise1;
	margin-top: 5px;
	border: 1px solid #00FFFF;
	border-top-right-radius: 5px; 
	border-top-left-radius: 5px;
	z-index: 1;
}

.nav.nav-tabs li.active {
	background-color: #00FFFF;
	border-color: #00FFFF;
}


#lign {
	width: 100%;
	height: 3px;
	background-color: $orange;
	position: fixed;
	top: 48px;
	z-index: 2;
}

.back-color {
	width: 100%;
	height: 50px;
	background-color: $dark-turquoise2;
	position: fixed;
	z-index: 1;
}

.nav.nav-tabs a {
	color: #FFFFFF;
	padding-left: 30px;
	padding-right: 30px;
}



/*********JUMBOTRON*****************************************************/


.jumbotron {
    margin-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
    overflow: auto;
    background-attachment: fixed;
    background-image: url(img/back-bois2.png)
}


.jumbotron h1 {
		@include jumbotron;
	font-size: 65px;
	margin-top: 230px;
}

.jumbotron .graphic {
		@include jumbotron;
    font-family: "kandinsky";
	font-size: 50px;
}

.jumbotron h3 {
		@include jumbotron;
	font-size: 50px;
	margin-top: 15px;
}


@font-face { 
    font-family: "kandinsky";
    src: url('../font/Kandinsky.ttf');
}

.losange-jumbotron {
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top: -345px;
}

/*********ROME*****************************************************/
img {    transition: all 1s ease;
}

img.rotate:hover {

    transform: rotate(-10deg);
    z-index: 1;
    position: absolute;
    border-style: solid;
    border-color: #00FFFF;
    border-width: 2px;
}


.lign-top {
	width: 100%;
	height: 3px;
	background-color: $orange;
	top: 43px;
	margin-top: -30px;

}


.chemin-rome {

	@include chemin;
	width: 1px;
	height: 550px;
	margin-left: 80%;
	padding: 90px;
	margin-right: 40px;
}



.rome-text {
	margin: -170px 200px 200px 70px;
	@include text;
}

.rome-text h1 {
	@include title;
float: left;
padding: 25px;

}


.rome-text p {
padding: 10px 0 0 190px;
text-align: justify;

}

.see-more-rome  {
	@include see-more;
	margin-left: 80%;
	margin-top: -315px;
}

#gallery-rome {
	@include gallery;

margin: -450px 0 100px 170px;

}

  #gallery-rome img {
    max-width: 100%;
    position: relative;
}

#gallery-rome .col-xs-3 {
    padding: 0px; 
}
  
.carousel-inner img {
	    max-width: 100%;
	    width: 80%;
    position: relative;
display: block;
	margin-left: auto;
    margin-right: auto;}

/*********NATURE*****************************************************/


.nature-text {
	margin: 90px 230px 200px 40px;
	@include text;

}

.chemin-nature {
	@include chemin;
	margin-left: 8%;
	border-top-style: solid;
	border-top-color: $dark-turquoise1;
	padding: 220px;
	width: 100%;
	margin-top: -240px;
}

.nature-text h1 {
		@include title;

float: right;
padding: 25px;
}


.nature-text p {
padding: 0px 270px 0px 10px;
text-align: justify;
}

.see-more-nature  {
		@include see-more;
	margin-left: 80%;
	margin-top: 375px;
}


#gallery-nature {
	@include gallery;

margin: -390px 0 100px 170px;

}

  #gallery-nature img {
    max-width: 100%;
    position: relative;

}

#gallery-nature .col-xs-3 {
    padding: 0px; 
}
  


/*********BEACH*****************************************************/



.beach-text {
	margin: 30px 70px 0px 300px;
	@include text;

}

.beach-text h1 {
	@include title;
float:left;
padding: 20px;
}

.beach-text p {
padding: 10px 0 0 220px;
text-align: justify;
}

.chemin-beach {
	@include chemin;
	margin-left: 100px;
	margin-right: 85%;
	border-bottom-style: solid;
	border-bottom-color: $dark-turquoise1;
	padding: 200px;
	margin-top: -400px;
	z-index: 1;

}

.lign-bottom {
	width: 120%;
	height: 3px;
	background-color: $orange;
	margin-top: -3px;
	z-index: 2;
	position: absolute;

}

.see-more-beach  {
		@include see-more;
	margin-left: 80%;
	margin-top: 500px;
}


#gallery-beach1 {
	@include gallery;

margin: 70px 0 0px 170px;


}

  #gallery-beach1 img {
    max-width: 100%;
}

#gallery-beach1 .col-xs-3 {
    padding: 0px; 
}


  #gallery-beach2 {
	@include gallery;

margin: 30px 0 100px 170px;


}
  #gallery-beach2 img {
    max-width: 100%;

}

#gallery-beach2 .col-xs-3 {
    padding: 0px; 
}



/*********ABOUT ME*****************************************************/

.about-me {

	background-color: $dark-turquoise1;
	border: 3px solid $turquoise;
	color: $blanc;
	padding: 20px;
	display: inline-block;
	margin-left: 13%;
    margin-right: 13%;
    margin-top: 150px;
	margin-bottom: 320px;
	padding: 35px;
	

}

.about-me h1 {
	
font-family: "kandinsky";
float: center;
text-align: center;
border-bottom-width: 2.5px;
border-bottom-style: dotted;
border-bottom-color: $turquoise;
padding: 0 0px 20px 0px;
margin: 0;

}

.about-me p {
	text-align: justify;
	padding: 20px 0 0 0;

}


.box-left {
	@include box;
	float: left;
	margin-left: -10px;
	

}

.box-right {
		@include box;
	float: right;
	margin-right: -10px;
}


.icon-contact img {
	width: 80px;
	border-radius: 15px;
margin-top: -200px;
transition: all 1s ease;
position: absolute;
background-color: $dark-turquoise1;
}

.fb {
	margin-left: 36%;
}

.ldi {
	margin-left: 54%;
}

.icon-contact img:hover {
	transform: rotate(360deg);
}

footer {
	background-color: $blanc;
	text-align: center;
	color: $dark-turquoise1;
	padding: 5px;
}

/************************************MEDIA BREACKPOINTS*****************************************************************************/

@media screen and (max-width: 1050px)  {
	.nav.nav-tabs a {

color:black;}


}



@media screen and (max-width: 600px)  {


.nav.nav-tabs a {
	padding-left: 10px;
	padding-right: 10px;
	}





}















