/* line 2, ../scss/style-guide.scss */
h1 {
  font-size: 40px;
  color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  text-align: center;
}

/* line 22, ../scss/style-guide.scss */
.orange {
  width: 150px;
  height: 150px;
  border-style: dotted;
  border-color: #FFFFFF;
  border-width: 2px;
  float: left;
  margin: 15px;
  background-color: #FFA200;
}

/* line 27, ../scss/style-guide.scss */
.turquoise {
  width: 150px;
  height: 150px;
  border-style: dotted;
  border-color: #FFFFFF;
  border-width: 2px;
  float: left;
  margin: 15px;
  background-color: #00FFFF;
}

/* line 32, ../scss/style-guide.scss */
.dark-turquoise1 {
  width: 150px;
  height: 150px;
  border-style: dotted;
  border-color: #FFFFFF;
  border-width: 2px;
  float: left;
  margin: 15px;
  background-color: #24485F;
}

/* line 37, ../scss/style-guide.scss */
.dark-turquoise2 {
  width: 150px;
  height: 150px;
  border-style: dotted;
  border-color: #FFFFFF;
  border-width: 2px;
  float: left;
  margin: 15px;
  background-color: #0C3149;
}

/* line 42, ../scss/style-guide.scss */
.dark-turquoise3 {
  width: 150px;
  height: 150px;
  border-style: dotted;
  border-color: #FFFFFF;
  border-width: 2px;
  float: left;
  margin: 15px;
  background-color: #032236;
}

/* line 47, ../scss/style-guide.scss */
.blanc {
  width: 150px;
  height: 150px;
  border-style: dotted;
  border-color: #FFFFFF;
  border-width: 2px;
  float: left;
  margin: 15px;
  background-color: #FFFFFF;
}

/* line 52, ../scss/style-guide.scss */
h2 {
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 50px;
}

@font-face {
  font-family: "kandinsky";
  src: url("../font/Kandinsky.ttf");
}

/* line 66, ../scss/style-guide.scss */
#font h3 {
  font-size: 25px;
  color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
/* line 75, ../scss/style-guide.scss */
#font .first {
  font-family: "Arial";
}
/* line 78, ../scss/style-guide.scss */
#font .sec {
  font-family: "kandinsky";
}
/* line 81, ../scss/style-guide.scss */
#font .thrid {
  font-family: 'Poiret One', cursive;
}

/* line 87, ../scss/style-guide.scss */
#box {
  border-style: solid;
  border-color: #000;
  display: block;
}

/* line 95, ../scss/style-guide.scss */
.big-box {
  border-style: solid;
  border-color: #000;
  width: 180px;
  height: 180px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 106, ../scss/style-guide.scss */
.big-box h2 {
  color: #000;
}
